* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  font-family: "Fredoka", sans-serif;
  background-color: #fefae0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#pantallaCarga {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #131313;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#barraContenedor {
  width: 80%;
  height: 20px;
  background: #555;
  margin: 20px 0;
  border-radius: 10px;
  overflow: hidden;
}

#barraCarga {
  height: 100%;
  width: 0%;
  background: #4caf50;
  transition: width 0.3s ease;
  border-radius: 10px;
}

#porcentaje {
  font-size: 18px;
  font-family: sans-serif;
}
.pantalla {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}
.pantalla.activa {
  display: flex;
}
.pantallaInicio {
  background: url("./assets/images/background_main.png") no-repeat center center;
  background-size: cover;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 40px 10px;
}
.pantallaInicio h1 {
  font-size: 2.5rem;
  color: #264653;
  margin-bottom: 10px;
}
.pantallaInicio p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.main-dino {
  /* position: absolute; */
  height: 400px;
  width: auto;
  background-size: contain;
  margin-bottom: -100px;
}
.boton {
  background-color: #2a9d8f;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s;
}
.boton:hover {
  background-color: #21867a;
}
#pantallaJuego {
  background: url("./assets/images/fondo_juego.png") repeat-x bottom;
  background-size: cover;
  overflow: hidden;
}
#zonaJuego {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 85%;
  overflow: hidden;
  /* background-color: #fef9; */
}
.btn-pause {
  position: absolute;
  top: 10px;
  right: 80px;
  padding: 10px 20px;
  background-color: #e76f51;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;
}

#dino {
  height: auto;
  width: 100px;
  position: absolute;
  bottom: 100px;
  left: 50px;
}
#dino img {
  width: 100%;
  height: auto;
}

.hitbox {
  position: absolute;
}

.hitbox-dino {
  /* background-color: rgba(255, 233, 0, 0.7); */
  top: 15px;
  left: 25px;
  width: 50px;
  height: 60px;
  border-radius: 20px;
}

#dino.jump {
  animation: jump 1700ms ease;
}

@keyframes jump {
  0% {
    bottom: 100px;
  }
  10% {
    bottom: 140px;
  }
  20% {
    bottom: 150px;
  }
  60% {
    bottom: 150px;
  }
  100% {
    bottom: 100px;
  }
}

#obstaculo {
  position: absolute;
  bottom: 110px;
  right: -60px;
  width: 60px;
  height: 40px;
  animation: moverObstaculo linear infinite;
}
#obstaculo img {
  width: 100%;
  height: auto;
}

.hitbox-obstaculo {
  /* background-color: rgba(0, 0, 255, 0.6); */
  top: 12px;
  right: 12px;
  width: 35px;
  height: 18px;
  border-radius: 10px;
}

@keyframes moverObstaculo {
  from {
    right: -60px;
  }
  to {
    right: 110vw;
  }
}
#preguntaBox {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  min-height: 212px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: none;
  transition: all 0.3s ease;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.opciones button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #e76f51;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.hud,
.puntaje {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}
.puntaje {
  left: 100px;
}

.barra-progreso {
  position: absolute;
  top: 60px;
  left: 10px;
  width: 45vw;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}
.progreso {
  height: 100%;
  background: #2a9d8f;
  width: 0%;
}
.mensajeFinal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 51%;
  font-size: x-large;
  font-weight: bold;
  color: #c33317;
}
.juego-pausado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #264653;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
#toggleSonido {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: url("./assets/icons/sound-on.png") no-repeat center center;
  background-size: contain;
  cursor: pointer;
  border: none;
  z-index: 100;
}
#toggleSonido.off {
  background: url("./assets/icons/sound-off.png") no-repeat center center;
  background-size: contain;
}
#toggleSonido:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

#easterEgg {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translateX(-50%);
  background: url("./assets/images/background_main.png") repeat-x bottom;
  background-size: cover;
  overflow: hidden;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  display: none;
  z-index: 10;
  animation: aparecer 1s ease;
}

.dedicatoria {
  position: relative;
  top: 23%;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 15px;
}

#easterEgg img {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 300px;
  height: auto;
}

#easterEgg img#closeEasterEgg {
  width: 40px;
  height: 40px;
  cursor: pointer;
  right: 20px;
  top: 10px;
  left: 20px;
}

#easterEgg span {
  position: absolute;
  bottom: 60px;
  left: 15px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  font-size: 20px;
  color: #264653;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translate(-50%, -20%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
